.logo img {
    width: 110px;
}

.imagen img {
    width: 25%;
}

.imagen {
    margin-top: 20px;
}

.ingredientes {
    display: grid; 
    grid-template-columns: auto auto;
}

.ingredientes .items1,.ingredientes .items2{
    text-align: left;
}

.ingredientes .items1 ul {
    padding: 0;
}

.titulo {
    grid-column: 1 / 3;
    grid-row: 1;
}

.ingredientes ul {
    list-style: none;
}

.linea {
    border-color: rgb(236, 236, 236);
}

.direcciones ol {
    padding: 12px;
}

